# **Common Data Problems**

Cleaning data is an essential part of data analysis and processing for several reasons:

1. **Accuracy and Quality of Insights**: Dirty or unclean data can lead to inaccurate analyses and misleading insights. For instance, duplicates, incorrect entries, or outliers can skew results and lead to incorrect conclusions.

2. **Data Integrity**: Inconsistent data can harm the integrity of your dataset. For example, if a dataset includes both "USA" and "United States" as country names, it could be interpreted as two separate entities, affecting analyses that depend on country-level data.

3. **Efficiency in Analysis**: Cleaning data helps streamline the analysis process. Working with unclean data can be time-consuming and inefficient, as it might require additional checks and balances during the analysis to account for data quality issues.

4. **Compatibility and Integration**: When combining data from multiple sources, it's crucial to have consistent and clean data to ensure seamless integration. Mismatched formats, scales, or coding schemes can lead to integration issues.

5. **Decision Making**: Data-driven decision-making relies on high-quality data. Decisions based on unclean data can be flawed, leading to poor outcomes for businesses or research findings.

6. **Machine Learning and Modeling**: For machine learning models, the quality of input data directly affects the performance and accuracy of the model. Garbage in, garbage out: poor quality data can result in ineffective models.

7. **Compliance and Ethical Considerations**: Certain industries have regulations governing data quality. Non-compliance due to poor data quality can have legal repercussions. Ethically, it's important to ensure data accuracy, especially when it impacts people's lives.

If data is not cleaned:

- **Poor Quality Results**: Analyses will yield unreliable or incorrect results, which can misinform decision-making processes.
- **Resource Wastage**: Time and resources may be wasted on correcting errors that could have been addressed at the data cleaning stage.
- **System Failures**: In systems reliant on data, unclean data can lead to failures or suboptimal performance.
- **Loss of Credibility**: For businesses or researchers, poor data quality can lead to a loss of credibility and trustworthiness.

## **Data Type Contraints**

| Data Type      | Description                                               |
|----------------|-----------------------------------------------------------|
| `object`       | Text or mixed numeric and non-numeric values.             |
| `int64`        | Integer variables, 64-bit integers.                       |
| `float64`      | Floating-point numbers, double precision.                 |
| `bool`         | Boolean values (`True` or `False`).                       |
| `datetime64`   | Date and time values, unified into a datetime format.     |
| `timedelta[ns]`| Difference between two `datetime64` values.               |
| `category`     | Categorical data with a limited, fixed number of values.  |
| `complex`      | Complex numbers (less common in typical data analysis).   |

In [47]:
import pandas as pd

ride_sharing = pd.read_csv('ride_sharing_new.csv')

ride_sharing.rename(columns={'Unnamed: 0': 'ride_id'}, inplace=True)

# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

# Convert user_type from integer to category
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')

# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'

# Print new summary statistics
print(ride_sharing['user_type_cat'].describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ride_id          25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB
None
count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64
count     25760
unique        3
top           2
freq      12972
Name: user_type_cat, dtype: int64

**Summing strings and concatenating numbers**

In [48]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes')

# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype('int')

# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

# Print formed columns and calculate average ride duration
print(ride_sharing[['duration','duration_trim','duration_time']])
print(ride_sharing['duration_time'].mean())

         duration duration_trim  duration_time
0      12 minutes           12              12
1      24 minutes           24              24
2       8 minutes            8               8
3       4 minutes            4               4
4      11 minutes           11              11
...           ...           ...            ...
25755  11 minutes           11              11
25756  10 minutes           10              10
25757  14 minutes           14              14
25758  14 minutes           14              14
25759  29 minutes           29              29

[25760 rows x 3 columns]
11.389052795031056

## **Data Range Constraints**

### **How to Deal with out of range data?**

Dealing with out-of-range data in a dataset requires careful consideration, and the strategy can vary depending on the context and the nature of your data. Here are some approaches:

1. **Dropping Data**:
   - **When to Use**: If the out-of-range data is deemed erroneous or not relevant to the analysis.
   - **Consideration**: This approach reduces the size of the dataset, which might not be ideal if the dataset is already small.

2. **Setting Custom Minimums and Maximums**:
   - **When to Use**: When you have known thresholds or limits beyond which data points are not feasible or relevant.
   - **Consideration**: This method involves clipping the data at the specified minimums and maximums, which might distort the distribution of the data.

3. **Treat as Missing and Impute**:
   - **When to Use**: If the out-of-range values are suspected to be missing or erroneous but you don't want to lose the data point entirely.
   - **Consideration**: Imputation methods (mean, median, mode, or predictive modeling) can be used, but this might introduce bias, especially if the number of out-of-range values is significant.

4. **Setting Custom Value Depending on Business Assumptions**:
   - **When to Use**: When domain knowledge or business rules can provide a reasonable assumption about what these out-of-range values should be.
   - **Consideration**: This requires a deep understanding of the domain and the data. The risk is that incorrect assumptions can lead to misleading analysis.

Each of these methods has its advantages and drawbacks. The choice depends on the specific requirements of your analysis, the nature of your data, and the potential impact of the out-of-range data on your results. It's also important to document the chosen method and the rationale behind it for transparency and reproducibility.

In [49]:
import numpy as np

ride_sharing['tire_sizes'] = np.random.choice([27, 28, 29], size=len(ride_sharing))
ride_sharing['tire_sizes'].head()

0    27
1    28
2    28
3    29
4    28
Name: tire_sizes, dtype: int64

In [50]:
# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

count     25760
unique        1
top          27
freq      25760
Name: tire_sizes, dtype: int64

In [51]:
# Generate random dates with random year, month, and day
# For simplicity, let's define a range of years (e.g., 2010 to 2023)
years = np.random.randint(2010, 2024, size=len(ride_sharing))
months = np.random.randint(1, 13, size=len(ride_sharing))
days = np.random.randint(1, 29, size=len(ride_sharing))  # using 28 to avoid invalid dates

# Combine year, month, and day to form date strings
random_dates = ["{}-{:02d}-{:02d}".format(year, month, day) for year, month, day in zip(years, months, days)]

# Add to the DataFrame
ride_sharing['ride_date'] = random_dates


# Convert ride_date to date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date

import datetime as dt

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

2023-11-27

## **Uniqueness Constraints**

### **How to find duplicate rows?**

To find duplicate rows in a DataFrame, you can use the `.duplicated()` method in Pandas. This method helps identify rows that have the same values in all or a selection of columns. Here's a breakdown of how to use `.duplicated()`:

1. **`subset` Parameter**:
   - **Usage**: Specifies the columns for considering duplication.
   - **Example**: `subset=['column1', 'column2']` will check for duplicates only based on 'column1' and 'column2'.

2. **`keep` Parameter**:
   - **Options**:
     - `'first'`: Marks duplicates as `True` except for the first occurrence.
     - `'last'`: Marks duplicates as `True` except for the last occurrence.
     - `False`: Marks all duplicates as `True`.
   - **Example**: `keep='first'` will mark all duplicate rows as `True` except for the first occurrence of the duplicate row.

In [52]:
# Find duplicates
duplicates = ride_sharing.duplicated(subset = 'ride_id', keep = False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('ride_id')

# Print relevant columns
print(duplicated_rides[['ride_id','duration','user_birth_year']])

Empty DataFrame
Columns: [ride_id, duration, user_birth_year]
Index: []

### **How to treat duplicate rows?**

To treat duplicate values in a DataFrame, you can use the `.drop_duplicates()` method in Pandas. This method removes duplicate rows based on all or a specified subset of columns. Here's how to use `.drop_duplicates()`:

1. **`subset` Parameter**:
   - **Usage**: Specifies the columns for considering duplication.
   - **Example**: `subset=['column1', 'column2']` will check for duplicates based on 'column1' and 'column2' only.

2. **`keep` Parameter**:
   - **Options**:
     - `'first'`: Drops duplicates except for the first occurrence.
     - `'last'`: Drops duplicates except for the last occurrence.
     - `False`: Drops all duplicates.
   - **Example**: `keep='first'` will drop all duplicate rows except for the first occurrence of each duplicate set.

3. **`inplace` Parameter**:
   - **Usage**: Determines whether to drop duplicates in place or to return a new DataFrame.
   - **Options**:
     - `True`: The duplicates are dropped in place, modifying the original DataFrame.
     - `False` (default): Returns a new DataFrame with duplicates dropped, leaving the original DataFrame unchanged.
   - **Example**: `inplace=True` will modify the original DataFrame to remove duplicate rows.

In [53]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': 'min', 'duration_time': 'mean'}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0

# **Text and Categorical Data Problems**

## **Value Consistency**

Value consistency, especially in terms of capitalization, is crucial in data preprocessing to ensure that categorical data is accurately analyzed. Inconsistent capitalization, like 'married', 'Married', 'UNMARRIED', 'unmarried', can lead to misclassification of categories. Here's how you can address this issue:

### Standardizing Text Data

You can standardize the capitalization of your text data using methods like `.lower()`, `.upper()`, or `.title()` in Pandas. For your specific case, you might want to convert all entries to lowercase (or uppercase) for consistency.

#### Example

Assuming you have a DataFrame `df` and a column `marital_status` with varying capitalization:

```python
import pandas as pd

# Sample data
data = {'marital_status': ['married', 'Married', 'UNMARRIED', 'unmarried']}
df = pd.DataFrame(data)

# Standardizing to lowercase
df['marital_status'] = df['marital_status'].str.lower()

print(df)
```

This will convert all the values in the `marital_status` column to lowercase, making them consistent.

### Dealing with Specific Cases

In cases where you have specific rules for capitalization (like titles), you can use `.title()`:

```python
df['marital_status'] = df['marital_status'].str.title()
```

This would convert 'married' to 'Married', 'UNMARRIED' to 'Unmarried', etc.

### Regular Expressions

For more complex cases, regular expressions can be used to match patterns and transform data accordingly.


### Removing Trailing Spaces and Standardizing Capitalization

Assuming you have a DataFrame `df` with a column `marital_status`:

```python
import pandas as pd

# Sample data
data = {'marital_status': ['married ', ' Married', 'UNMARRIED ', 'unmarried']}
df = pd.DataFrame(data)

# Remove leading and trailing spaces and standardize to lowercase
df['marital_status'] = df['marital_status'].str.strip().str.lower()

print(df)
```

In this code:
- `.strip()` removes any leading and trailing spaces from the strings.
- `.lower()` converts all the characters to lowercase for consistency.


### Note

- Always ensure that the transformation aligns with the context of your data.
- It's a good practice to review a sample of your data after transformation to ensure it was applied as expected.
- Be cautious with global transformations, as they can sometimes lead to misinterpretations of the data (e.g., transforming 'ID' to 'id' might be undesirable in some contexts).

In [54]:
airlines = pd.read_csv('airlines_final.csv')

# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower()
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

# Verify changes have been effected
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']
['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']
['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']
['Hub' 'Small' 'Medium' 'Large']

## **Collapsing Data into Categories**

Collapsing data into categories is a common operation when you want to simplify or group numerical data into a more manageable form. In your example, you're using Pandas' `cut()` function to create a new column `income_group` based on ranges defined for the `household_income` column. Here's a step-by-step explanation:

### Using `pd.cut()` to Create Income Groups

1. **Define Ranges**: You define the bins or ranges into which you want to categorize your data. In your case, these ranges are `[0, 200000, 500000, np.inf]`. This means you're dividing the data into three groups: incomes from 0 to 200,000, 200,000 to 500,000, and above 500,000.

2. **Define Group Names**: The labels for these ranges are defined as `['0-200K', '200K-500K', '500K+']`.

3. **Create Income Group Column**: Using `pd.cut()`, you categorize the `household_income` into these defined bins and create a new column `income_group` in the `demographics` DataFrame.

Here's how your code looks:

```python
import pandas as pd
import numpy as np

# Assuming demographics is an existing DataFrame with a column 'household_income'
# Sample data (for demonstration)
demographics = pd.DataFrame({
    'household_income': [150000, 250000, 550000, 100000, 300000]
})

# Define ranges and group names
ranges = [0, 200000, 500000, np.inf]
group_names = ['0-200K', '200K-500K', '500K+']

# Create income group column
demographics['income_group'] = pd.cut(demographics['household_income'], bins=ranges, labels=group_names)

# Display the DataFrame
print(demographics[['income_group', 'household_income']])
```

This code will output a DataFrame where each row's `household_income` is categorized into the appropriate `income_group`.

### Important Notes

- Ensure that your income data does not contain null values as `pd.cut()` does not handle NaN values by default.
- The choice of bins (ranges) and labels (group names) should be made based on the context and distribution of your data, as well as the requirements of your analysis.
- This method is useful for creating categorical variables from continuous variables, which can be beneficial for certain types of analysis, visualization, and modeling.

In [55]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges,
                               labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday',
            'Thursday': 'weekday', 'Friday': 'weekday',
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

## **Cleaning text data**

In [56]:
# Replace "Dr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Dr.","")

# Replace "Mr." with empty string ""
airlines['full_name'] = airlines['full_name'] = airlines['full_name'].str.replace("Mr.","")

# Replace "Miss" with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Miss","")

# Replace "Ms." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Ms.","")

# Assert that full_name has no honorifics
assert airlines['full_name'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False

KeyError: ignored

In [ ]:
# Store length of each row in survey_response column
resp_length = airlines['survey_response'].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey['survey_response'].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])

# **Advanced Data Problem**

## **Uniformity**

Uniformity in data science refers to the consistency and standardization of data formats, types, and values within a dataset. Achieving uniformity is crucial for reliable data analysis and processing. Here are key aspects of uniformity in data science:

1. **Consistent Formats**: Data should be in a consistent format throughout the dataset. For instance, dates should follow a single format (like 'YYYY-MM-DD'), and strings should have consistent capitalization.

2. **Standardized Units**: Measurements should be standardized to a common unit system. For example, distances should be consistently in either kilometers or miles, not a mix of both.

3. **Data Types**: The data type of each column should be uniform. Numerical data shouldn't be mixed with text in a single column, and categorical data should be distinguished from continuous data.

4. **Value Ranges**: For numerical data, it's important that the values fall within expected ranges. This includes avoiding unrealistic or out-of-range values.

5. **Encoding Categorical Data**: Categorical data should be uniformly encoded, either using one-hot encoding, label encoding, or similar methods, depending on the analysis needs.

6. **Handling Missing Values**: The approach to missing data (e.g., using NaNs, zeros, or imputation) should be consistent across the dataset.

7. **Treatment of Duplicates and Outliers**: The dataset should be uniformly treated for duplicates and outliers, either by removing, correcting, or accounting for them in analysis.

Uniformity is important because inconsistent or non-standard data can lead to incorrect analysis and misleading results. It is often achieved through data cleaning and preprocessing steps before any analysis or modeling is done.

In [ ]:
banking = pd.read_csv('banking_dirty.csv')

# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'

# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = 'dollar'

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'

**Uniform Date**

In [58]:
# Print the header of account_opened
print(banking['account_opened'].head())

0    02-09-18
1    28-02-19
2    25-04-18
3    07-11-17
4    14-05-18
Name: account_opened, dtype: object

In [59]:
# Print the header of account_opend
print(banking['account_opened'].head())

# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce')

# Get year of account opened
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

# Print acct_year
print(banking['acct_year'])

0    02-09-18
1    28-02-19
2    25-04-18
3    07-11-17
4    14-05-18
Name: account_opened, dtype: object
0     2018
1     2019
2     2018
3     2017
4     2018
      ...
95    2018
96    2017
97    2017
98    2017
99    2017
Name: acct_year, Length: 100, dtype: object